body{
    text-align: center;
   background-color: white;
}

.basliklar-a{
    border: 2px solid rgb(87, 96, 87);
    padding: 10px 20px;
    color: rgb(68, 79, 88);
}
.basliklar-u{
    border: 2px solid rgb(87, 96, 87);
    padding: 10px 20px;
    color: rgb(68, 79, 88);
}
.basliklar-h{
    border: 2px solid rgb(87, 96, 87);
    padding: 10px 20px;
    color: rgb(68, 79, 88);
}

.basliklar-a:hover{
    color: red;
    background-color: wheat;
                  
}

.basliklar-u:hover{
    color: red;
    background-color: wheat;
}

.basliklar-h:hover{
    color: red;
    background-color: wheat;
}

h1{
    color: rgb(123, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    
    
}

h2{
    color: rgb(123, 102, 102);
    font-style: italic;
}


li{
    list-style-position: inside   
}

footer{
    
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: auto;
    right: 0px;
    margin-bottom: 0px;
}

